img {
    height: 255px;
    width: 175px;
}

.Card {
    font-size: 17px;
    height: 321px;
    width: 221;
    margin: 5px 5px;
}

.Gryffindor {
    border: 3px solid #740001;
    background: rgb(116,0,1);
    background: linear-gradient(90deg, rgba(116,0,1,1) 0%, rgba(174,0,1,1) 30%, rgba(211,166,37,1) 100%);
}

.Slytherin {
    border: 3px solid #1A472A;
    background: rgb(26,71,42);
    background: linear-gradient(90deg, rgba(26,71,42,1) 0%, rgba(42,98,61,1) 30%, rgba(93,93,93,1) 100%);
}

.Ravenclaw {
    border: 3px solid #0E1A40;
    background: rgb(14,26,64);
    background: linear-gradient(90deg, rgba(14,26,64,1) 0%, rgba(34,47,91,1) 30%, rgba(93,93,93,1) 100%);
}

.Hufflepuff {
    border: 3px solid #000000;
    background: rgb(96,96,92);
    background: linear-gradient(90deg, rgba(96,96,92,1) 0%, rgba(255,219,0,1) 80%, rgba(255,237,134,1) 100%);
}